.glitch {
  color: #fff;
  position: relative;
}
.glitch::before, .glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
}
.glitch::before {
  animation: glitchTop 1s infinite linear alternate-reverse;
  color: #ff00c1;
  clip: rect(0, 900px, 0, 0);
}
.glitch::after {
  animation: glitchBottom 1s infinite linear alternate-reverse;
  color: #00fff9;
  clip: rect(0, 900px, 0, 0);
}
@keyframes glitchTop {
  0% { clip: rect(0, 9999px, 0, 0); }
  100% { clip: rect(20px, 9999px, 60px, 0); transform: translate(-3px, -3px);}
}
@keyframes glitchBottom {
  0% { clip: rect(0, 9999px, 0, 0); }
  100% { clip: rect(80px, 9999px, 140px, 0); transform: translate(3px, 3px);}
}

body {
  background-color: #0d0d0d;
  color: #33ff99;
  font-family: 'Courier New', monospace;
}

a {
  color: #00ffff;
}

h1, h2 {
  color: #ff0066;
  text-shadow: 0 0 5px #ff0066;
}
